<h2 class="well">Create Your Dictionary</h2>

<form action="/dictionary" method="get" id="view-btn">
  <button type="submit" class="btn btn-info">View Words</button>
</form>
<form action="/add-word" method="get" id="add-btn">
  <button type="submit" class="btn btn-info">Add New Word</button>
</form>
