<h1>Success!</h1>

#if ($word)
  <p>Your word has been added</p>
#end

<form action="/" id="back">
  <button type="submit" class="btn btn-info">Go Home</button>
</form>
<form action="/dictionary/new" id="add">
  <button type="submit" class="btn btn-info">Add Another Word</button>
</form>
<form action="/dictionary" id="view">
  <button type="submit" class="btn btn-info">View Dictionary</button>
</form>
